@font-face{
 font-family:G;
 src:url(css/g.woff),url(css/g.ttf)}
*{
 outline:none;
 transition:1s}
body,#高>:nth-child(1){overflow:hidden}
 #高>:nth-child(1){display:none}
 #高>:nth-child(1)>*{color:#FFF}
 #高,#高>:nth-child(2)>*,#高>:nth-child(2)>*>*,#高>:nth-child(4)>:nth-child(2n){
  height:100%!important;
  width:100%!important}
 #高>:nth-child(2)>*,#高>:nth-child(4) *~*,#ζ{text-align:center}
 #倒挂 div{
  text-shadow:#000 -1px -1px 1px,#000 -1px -1px 10px,#FFF 1px 1px 1px,#FFF 1px 1px 10px;
  text-transform:capitalize}
 #高>:nth-child(2) input{
  margin-top:1em}
 #高>:nth-child(2) label{
  display:block;
  font-size:2em;
  text-align:left}
 #倒挂>:first-child label:before{content:' '}
 #倒挂>:last-child label:before{content:' '}
 #高>:nth-child(2)>* a{display:block}
 #检:before{
  color:#F00;
  content:"⬜ "}
 .检:before{
  color:#0F0!important;
  content:"☑ "!important}
 #ζ{
  bottom:0;
  position:fixed;
  right:0}
 #ζ>*~*{float:left}
 body>em{
  border:3px groove;
  border-radius:0 5em;
  display:none;
  position:fixed;
  top:0}
button{
 background:linear-gradient(45deg,#000,rgba(0,0,0,.65)50%),url(img/wa2.jpg);
 border-radius:5em;
 color:rgba(255,255,255,.5);
 font-size:2em;
 text-shadow:#000 1px 1px 0}
button:hover{
 color:#FFF;
 text-shadow:#0F0 0 -1px 20px,#00F 0 3px 20px}
input{
 background:rgba(0,0,0,.85);
 border-radius:0 0 1em 1em;
 color:#FFF;
 padding:0 1em}
canvas{background:radial-gradient(#EEF,#CB8,#445)}
.☸ code,.load code{display:none}
#edt,.ㄨ li,iframe{-ms-user-select:none}
.load{box-shadow:#330 -10px 1px 15px}
.load canvas{opacity:0!Important}
.load button{
 background:linear-gradient(45deg,#000,rgba(0,0,0,.85)50%),url(img/wa2.jpg);
 box-shadow:#000 -10px 3px 5px,#FFF 5px 0 5px}
.ㄨ button{
 background:rgba(0,0,0,.5);
 box-shadow:rgba(255,0,0,.5) 0 0 0px 10px,#000 0 9px 9px 10px}
.ㄨ button:hover{text-shadow:#F00 0 -3px 5px,#F00 3px 0 5px,#F00 0 3px 5px,#F00 -3px 0 5px}
.ㄨ code{
 background:rgba(0,0,0,.75);
 border-radius:55em;
 box-shadow:#000 0 1ch 10px;
 color:#FFF;
 display:block;
 font:1em Arial;
 text-shadow:#000 1px 1px 3px,#000 1px 1px 3px}
a{color:#0AF}
b{color:#F70}
st{color:#6A3}
tg{color:#FA0}

/*MAIN EDT*/
#ζ{display:none}
body,#mn,#th>:nth-child(3),#图片,#th label{overflow:hidden}
button,img{cursor:pointer}
input:not([type="email"]),#高>:nth-child(1) label,#师二 span,#mn{text-align:center}
code,#cv +*,#th,#图片>*>*{width:100%}
#师一 label,.tg{
 background:rgba(0,0,0,.5);
 border:0}
#师一 label,.tg,#图片,#mn>:nth-child(2){position:relative}
.no{display:none}
#高>:nth-child(1){
 height:100%;
 left:0;
 top:0;
 width:100%}
 #高>:nth-child(1) button{
  background:none;
  border:0}
 #高>:nth-child(1)>*{
  height:100%;
  left:0;
  position:fixed;
  top:0;
  width:100%}
 #高>:nth-child(1)>*>*{position:absolute}
 #th{
  height:10%;
  top:0}
 #mn,#大师{
  bottom:0;
  height:90%;
  position:absolute}
 #th>*,#th>:nth-child(3) *{height:100%}
  #th>:not(.tg),#图片>*,#图片 img,#大师 *,#mn,#opsMenu *,#mn>*,#mn>:nth-child(3)>*{float:left}
  #th>.tg{
   left:48%}
  #th>:not(.tg),#师一,#师一>*>*{height:100%}
  #th>:nth-child(3){width:85%}
  #th>:nth-child(-n+2),#th>:nth-child(4){width:5%}
  #th>:nth-child(-n+2)>*,#th>:nth-child(4)>*{height:60%;width:100%}
  #th>button:not(.tg),#大师>.tg{
   width:5%;
   z-index:1}
  #th label{
   display:inline-block}
   #图片{width:1000%}
    #图片 label:hover{box-shadow:rgba(0,0,0,1) 0 -10px 10px 5px,rgba(0,0,0,.5) 0 -20px 10px 5px,rgba(0,0,0,.5) 0 -30px 10px 5px}
    #图片>*{width:1%}
    #图片>:nth-child(odd) *+*{
     color:#000;
     text-shadow:#000 0 0;
     background:rgba(255,255,255,.7)}
    #图片>:nth-child(even) *+*{background:rgba(0,0,0,.5)}
 #mn,#opsMenu *{padding:0}
 #mn{
  width:45%}
  #mn label{text-shadow:#FFF 2px -2px 10px,#000 -2px 2px 1px,#000 -2px 2px 1px}
  #mn>:nth-child(-n+2){
   height:100%;
   width:10%}
   #mn>:nth-child(-n+2) div{height:15%}
   #mn>:nth-child(-n+2) input{height:70%}
  #mn>:nth-child(2){
   float:right;
   top:0}
  #mn>:nth-child(n+3){
   height:50%;
   width:80%}
  #mn>:nth-child(n+3) button{box-shadow:#000 -10px 10px 5px,rgba(0,0,0,0.5) 0 15px 5px}
   #mn>:nth-child(3)>*{
    border:transparent 2px dotted;
    border-radius:1em;
    margin:3%}
   #mn>:nth-child(3)>*:hover{border:#E92 2px dashed}
   #mn>:nth-child(3)>*>*{display:100%}
  #地点 input{width:50%}
 #大师{
  right:0;
  width:50%}
  #师一{
   width:25%;
   padding-top:7%}
   #师一>*{
    border:#E92 3px groove;
    height:8.8%;
    margin:-2px;
    width:60%}
   #师一>:nth-child(odd){box-shadow:#000 15px 15px 10px 1px}
   #师一>:nth-child(even){box-shadow:#000 -10px 10px 10px}
   #师一>*:hover{
    background:linear-gradient(45deg,#000 50%,#FFF 50%);
    text-shadow:#0F0 0 -1px 10px,#00F 0 1px 10px,#00F 0 1px 10px,#0F0 -1px 0 10px;
    text-transform:uppercase}
   #师一 img:hover{opacity:.6}
   #师一 label{
    background:transparent;
    display:inline-block;
    height:auto;
    topx:-35%}
    #师一>*>*{width:100%}
    #师二 input{
     border:0;
     height:0;
     opacity:0;
     width:0}
 #opsMenu{
  border-radius:5px;
  left:0;
  position:fixed;
  top:0;  
  width:10%;
  background:radial-gradient(rgba(12,175,124,.5),rgba(24,55,74,.8))}
 #opsMenu>:nth-child(-n+2){width:49%}
 #opsMenu>:nth-child(3),#opsMenu>:last-child{width:100%}
 #opsMenu>button:nth-child(n+4):nth-child(-n+6){width:33%}
#中{
 border:rgba(0,200,255,.5) 3px dotted!important;
 box-shadow:#000 -20px 20px 10px 1px,#0AF 1px -1px 1em!important}

/* Δ */
#师二{
 background:linear-gradient(rgba(99,0,0,.5),rgba(0,99,0,.5),rgba(0,0,99,.5));
 height:900%;
 top:0;
 width:70%}
 #师二 input+* button:hover{text-shadow:#F00 0 -5px 20px,#0F0 5px 5px 20px,#00F -5px 5px 20px}
 #师二 input~*>*{width:100%}
 #师二>*{
  border-left:rgba(0,0,0,.1) 10px dotted;
  width:100%}
 #师二 img{
  border:transparent 1px dashed;
  content:'';
  height:18.5%;
  width:25%}
  #师二 img:hover{
   border:#FFF 1px dashed}
 #师二>:first-child>:not(ol){width:24%}
 #师二 ol,#师二 label,#师二 li{
  background:rgba(0,0,0,.25);
  margin-top:1em;
  width:100%}

/*step:11.111111*/
#师二>:nth-child(2) img{border-radius:5em}
#师二>:nth-child(5) *{border-radius:5em 5em 0}
#师二>:nth-child(7) *:nth-child(2n){border-radius:5em 0}
#师二>:nth-child(7) *:nth-child(odd){border-radius:55em 0 0}

/*trident stuff*/
#高,body{-ms-perspective:999999em}
#高>*,#高>:nth-child(4)>div,#高>*>img{
 height:100%;
 width:100%}
#高>*,#高>:nth-child(4)>*{position:absolute}
#高>:nth-child(2){
 font-size:2em;
 -ms-transform:translate3D(0,-500%,-9e+6em)}
#高>:nth-child(3){
 -ms-transform:translate3D(500%,0,-1e+7em)rotate3D(1,1,1,90deg)}
#高>:nth-child(4){
 font-size:125%;
 -ms-transform:translate3D(-500%,0,-1e+7em)rotate3D(1,1,1,90deg)}
#高>:nth-child(5){
 -ms-transform:translateZ(9e+5em)}
#高>:nth-child(2n) button{
 height:100px;
 width:100px}
 #mn button{
  height:51px;
  width:51px}
input{font:1em/0 Monotype Corsiva}
.二>:first-child{
 display:block!important;
 z-index:1}
.一>:nth-child(2),.。>:nth-child(3),.丨>:nth-child(4),.刂>:last-child{
 z-index:1;
 -ms-transform:translateZ(-2e+5em)!important}

.☸ canvas{opacity:.3}
.☸>div{-ms-transform:translateY(44%)}
.☸ button{
 background:rgba(0,0,0,.85);
 border:#888 double;
 box-shadow:#000 -10px 3px 5px;
 padding:0}
.☸ button:hover{text-shadow:#0FF 0 0 10px}

.ㄨ code{
 left:5%;
 font-size:1.25em}

.load div{-ms-transform:translateY(44%)}
.load button{
 background:linear-gradient(-45deg,#FFF 50%,#000 50%);
 color:#FFF}
.load button:hover{text-shadow:#FF0 0 -1px 5px,#FF0 1px 0 5px,#FF0 0 1px 5px,#FF0 -1px 0 5px,#000 0 0 9px}

/*PRE*/
body,#高,#高>:nth-child(2),#高>:nth-child(2)>*,#高>:nth-child(5){-ms-transform-style:preserve-3D}
#高>:nth-child(1)>*{-ms-perspective:99em}
#高>:nth-child(2),#高>:nth-child(2)>*{-ms-perspective:50em}
 #高>:nth-child(2)>*>:nth-child(2){-ms-transform:translate3D(-100%,-200%,0)rotate(180deg)}
#高>:nth-child(5){-ms-perspective:99em}
 #图片 label:hover{-ms-transform:translateY(-104%)}
 #mn>:nth-child(n+3){-ms-transform:translateZ(0)}
 #大师 .tg{-ms-transform:translateY(600%)}
 #师一{-ms-perspective:45em}
  #师一>:nth-child(odd){-ms-transform:translateZ(5em)rotateY(-45deg)}
  #师一>:nth-child(even){-ms-transform:translate3D(80%,0,5em)rotateY(45deg)}
 #师二>*{-ms-perspective:9em}
 #师二 img:active{-ms-transform:rotateY(5deg)}
 #师二>:nth-child(2) *:nth-child(odd){-ms-transform:rotate3D(0,0,1,45deg)}
 #师二>:nth-child(2) *:nth-child(even){-ms-transform:translateZ(-1em)rotate3D(1,-1,1,20deg)}
 #师二>:nth-child(3) *:nth-child(3n){-ms-transform:rotate3D(-0,1,0,15deg)}
 #师二>:nth-child(3) *:nth-child(3n+2){-ms-transform:translateZ(1.5em)}
 #师二>:nth-child(3) *:nth-child(3n+1){-ms-transform:rotate3D(-0,-1,0,15deg)}
 #师二>:nth-child(4) *{-ms-transform:rotate3D(1,1,1,-15deg)}
 #师二>:nth-child(5) *{-ms-transform:rotateY(15deg)}
 #师二>:nth-child(6) *:nth-child(3n){-ms-transform:rotate3D(0,-1,1,15deg)}
 #师二>:nth-child(6) *:nth-child(3n+2){-ms-transform:translateZ(-1.5em)rotateX(-15deg)}
 #师二>:nth-child(6) *:nth-child(3n+1){-ms-transform:rotate3D(0,1,-1,15deg)}
 #师二>:nth-child(7) *:nth-child(odd){-ms-transform:rotate(-45deg)}
 #师二>:nth-child(8) *{-ms-transform:rotate3D(1,1,1,35deg)}
 #师二>:nth-child(9) *:nth-child(2n+1){-ms-transform:rotateX(9deg)}
 #师二>:nth-child(9) *:nth-child(2n){-ms-transform:rotateX(-9deg)}
#中{-ms-transform:rotateY(90deg)translateZ(8em)!important}
.false{-ms-transform:translate3D(-100%,-100%,0)rotate(180deg)}
.ㄨ>div{-ms-transform:translate3D(-50%,-7%,0)}

/*EDT*/
#图片 label{transform:translateY(-45%)}
 #mn>:nth-child(-n+2) input{
  background:transparent;
  padding:0;
  width:700%;
  transform:translate(-43.5%)rotate(-90deg)}
#师二 iframe{
 border:0;
 height:100%;
 left:0;
 position:absolute;
 top:15%;
 width:100%}
.左{transform:translate(-111%)rotateY(360deg)rotateZ(45deg)}
.上{transform:translateY(-125%)rotateX(360deg)}
.权{transform:translate(95%)rotateY(-360deg)}