#info{position:fixed;z-index:1}
section label{display:block}
#fs,#ft a{transition:1s}
#fs,#info,#ok{font-family:Segoe UI Symbol}
#fs,#info,label,#lg{font-size:180%}
input{font-size:.5em}
#fs,section *,#ft a{border-radius:1em}
#lg,#lg::after{border-radius:.1em}
#lg::before{bottom:0;content:' ';background:linear-gradient(#000,#00f5ff,#000);height:10%;position:absolute;width:46%}
#lg::before,input{transition:.4s}
#b{background:repeating-linear-gradient(45deg,#aaa,rgba(255,255,255,0.4),rgba(126,126,126,0.8) 10%),repeating-linear-gradient(-45deg,#aaa,#ddd,#7e7e7e 10%)}
input{background:linear-gradient(rgba(0,0,0,0.5),transparent,rgba(0,0,0,0.5))}
#ok{background:transparent}
#cv{background:linear-gradient(#fff,#7d7ddf 90%,#1b186d)}
#ok{font-size:1.5em}
#fs *:not(a),#ok{color:#fff}
a{color:#180;cursor:alias}
#fs *:focus{border:#09f 4px double}
#fs *{outline-color:transparent}
#chk{outline-color:#000}
.noread{color:#f00}
.load{background:radial-gradient(transparent,#fff,#000)}
.ok{border:#006400 2px dashed}
.bad{border:#f00 2px dashed}
.no{display:none}
.su{background:linear-gradient(90deg,rgba(0,173,180,0.5) 45%,transparent 65%)}
.lg{background:linear-gradient(90deg,transparent 45%,rgba(0,162,168,0.5) 65%)}
.lg::before{left:52%}
.subg{background:linear-gradient(45deg,rgba(214,255,0,0.3),rgba(0,0,0,0.5))}
.lgbg{background:linear-gradient(45deg,rgba(255,0,0,0.15),rgba(0,255,0,0.15),rgba(0,0,255,0.3)),rgba(0,0,0,0.5)}
#fs,input,#ft{text-align:center}
#fs{padding:.5em}
#lg,#ok,#chk{cursor:pointer}
#lg{left:43%;position:relative;text-align:left}
#ft a{background-image:url("3rd.jpg");box-shadow:3px 3px 4px 5px #047;float:right;height:64px;margin:1.5em;width:64px}
#ft a:nth-of-type(1){background-position:0}
#ft a:nth-of-type(2){background-position:64px}
#ft a:nth-of-type(3){background-position:128px}
#ft a:nth-of-type(4){background-position:192px}
#ft a:hover{border-radius:2em;-webkit-transform:rotate3D(1,1,1,-360deg)}
